@use "../../app/variables.module.scss" as v;
@use "../../app/typography.module.scss" as t;

.registerPage {
  background-image: url("/images/login-page-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);

  @media (min-width: v.$screen-lg) {
    height: calc(100vh - 100px);
  }

  &__card {
    background-color: v.$white;
    box-shadow: v.$shadow;
    padding: v.$spacing-x10;
    border-radius: 5px;
  }

  .validationMessage {
    max-width: 250px;
    color: v.$red;
    font-size: t.$text-14;

    li {
      list-style-type: none;
    }
  }
}
